<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header> 
            This is use for Admin part header.
        </header>
        @RenderBody()
    </div>
</body>
</html>
