<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            This is header area.
        </header>
        @RenderBody()

        <footer>
            This is footer area.
        </footer>
    </div>
</body>
</html>
